*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fafcfe;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
}

.container-animation {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}




